

// raw aliases

    $_a: 100vh;
        $_b: 25%;
        $_c: 50%;
        $_d: 75%;
        $_e: 100%;
    $_f: 80vh;
    $_g: 60vh;  



// custom names --------------------------------


    //body -------------------------

            $body-min-ht:                                 $_a; // 100vh


